@font-face {
    font-family: 'ProximaNova-Light';
    src: url('http://localhost/phpmvcajax/assets/themornstar/fonts/ProximaNova-Light/ProximaNova-Light.eot?') format('eot'), 
    url('http://localhost/phpmvcajax/assets/themornstar/fonts/ProximaNova-Light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('http://localhost/phpmvcajax/assets/themornstar/fonts/ProximaNova-Regular/ProximaNova-Regular.eot?') format('eot'), 
    url('http://localhost/phpmvcajax/assets/themornstar/fonts/ProximaNova-Regular/ProximaNova-Regular.otf') format('opentype'),
     url('http://localhost/phpmvcajax/assets/themornstar/fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), 
     url('http://localhost/phpmvcajax/assets/themornstar/fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'),
      url('http://localhost/phpmvcajax/assets/themornstar/fonts//ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
}

@font-face {
    font-family: 'ProximaNova-Thin';
    src: url('http://localhost/phpmvcajax/assets/themornstar/fonts/ProximaNova-Thin/ProximaNova-Thin.eot?') format('eot'), 
    url('http://localhost/phpmvcajax/assets/themornstar/fonts/ProximaNova-Thin/ProximaNova-Thin.otf') format('opentype'), 
    url('http://localhost/phpmvcajax/assets/themornstar/fonts/ProximaNova-Thin/ProximaNova-Thin.woff') format('woff'), 
    url('http://localhost/phpmvcajax/assets/themornstar/fonts/ProximaNova-Thin/ProximaNova-Thin.ttf') format('truetype'), 
    url('http://localhost/phpmvcajax/assets/themornstar/fonts/ProximaNova-Thin/ProximaNova-Thin.svg#ProximaNova-Regular') format('svg');
}

body{
    background: black;
    color:white;
    font-family: 'ProximaNova-Thin', sans-serif;

}
.container{
    width:920px;
    margin:0px auto;
    height: auto;
}

header{
    height: 35px;
    width: 100%;

}
nav{
    width: 100%;
    margin: 0px auto;
}
nav img{
    padding:15px;
}
nav ul{
    float:right;
}
nav ul li{
display: inline-block;
padding: 5px;
}
nav ul li a{
    text-decoration: none;
    display: block;
    color:white;
    text-transform: lowercase;
}
nav ul li a:hover{
    text-decoration: none;
    display: block;
    color:#99ccff;
    text-transform: lowercase;
}
footer{
    float:left;
    width: 100%;
    margin-top: 5px;
    position: inherit;
    bottom:0px;
    

}
footer p{
    text-align: center;
}
main{
    width: 100%;
    margin: 0px auto;
    align-content: center;
    min-height: 70vh;
    float: left;
    margin-top: 5px;

}

.user-post-right-display-main-container-upto-last
{
float:left;
line-height:20px;
min-height:100px;
word-wrap:break-word;
overflow:hidden;
display:block;
font-size:15px;
width:100%;
margin-top:15px;
border:1px solid #d6d7da;
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;

  box-shadow: 0 2px 10px #cbcbcb;
 -moz-box-shadow: 0 2px 10px #cbcbcb;
 -webkit-box-shadow: 0 2px 10px #cbcbcb;

}
.user-post-display-body-main-container:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
.animation-load{
    /* float: left; */
    min-height: 30px;
    text-align: center;
    width: 78%;
    font-size: 18px;
    margin-top: 15px;
    /* background-color: white; */
    border: 1px solid #d6d7da;
    border-radius: 4px;
    padding-top: 5px;
    cursor: pointer;
    margin: 0px auto;
    

}

